body{
	background-image: url("http://wallpapercave.com/wp/YFqhYFv.jpg");
	background-size: cover;
    background-position: center center;
}
div{
	width: 300px;
	background: lightblue;
	margin-top: 120px;
	border-radius: 2px;
	border:solid 2px;
	/*border-color: red;*/
	/*text-align: center;*/
}
.c{
	margin:10px 0px 10px 10px;
	height:45px;
	width :250px;
	/*border-radius:8px;*/
}
.b{
	margin:10px 20px 10px 20px;
	height:30px;
	width :100px;
	border-radius:8px;

}
p{
	text-align: left;
	margin-top: -10px;
	margin-left: 30px;
}
.e{
	width: 300px;
	background: lightblue;
	margin-top: 30px;
	border-radius: 2px;
	border:solid 2px;

}